*{
    margin :0 auto;
    
}
.GameCategory{
  width: 1000px;
  height: 50px;
  margin-top: 20px;
  line-height: 20px;
  background-color: #FFA400;
  border: 1px solid black;
  border-radius: 20px;
}
ul{
    padding: 0;
    list-style: none;
  }
  a{
    text-decoration: none;
    margin-left:40px ;
    font-size: 20px;
    font-weight: bold;
    color: black !important;
  
  }
  a:hover{
    color:red !important;
  }
  .logoimg{
    width: 300px;
    height: 100%;
    margin-left: 250px;
    margin-top:60px;
}